body {
  background: linear-gradient(-45deg, #857391, #574c52, #7fb2d4, #c25b88);
  background-size: cover;
  animation: gradient 15s ease infinite;
  height: 100vh;
  justify-content:center;
  
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  height:auto;
  background-color:#D3D3D3;
  font-size:17px;
  padding:5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  margin-bottom:auto;
}
  
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
  display:flex;
  flex-wrap:nowrap;
  
}
.img{
  width:280px;
  height:180px;
  margin-left:20px;
  margin-top:20px;
  position:relative;
}
.text{
  font-size:14px;
  line-height:2px;
  
}
