body {
  background: linear-gradient(-45deg, #857391, #574c52, #30474f, #c25b88);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  display:flex;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 44%;
  height:100%;
  background-color:grey;
  font-size:17px;
  padding:5px;
  justify-content:center;
  
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
  
}
.img{
  width:280px;
  height:180px;
  margin-left:20px;
  margin-top:20px;
  position:relative;
}
.text{
  font-size:14px;
  line-height:2px;
}
