*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(133,129,205);
    background: linear-gradient(0deg, rgba(133,129,118,1) 0%, rgba(70,73,46,1) 36%, rgba(0,0,0,1) 100%);;
    background-size: cover;
    height: auto;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
